<p-menubar [model]="items">
    <ng-template #start>
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
            @if (item.badge) {
                <p-badge [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
            }
            @if (item.shortcut) {
                <span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
            }
            @if (item.items) {
                <i [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
            }
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-toggleSwitch
                (onChange)="toggleDarkMode()"
                [dt]="darkThemeSwitchTokens"
            ></p-toggleSwitch>
        </div>
    </ng-template>
</p-menubar>

<p-button label="Check" />
